---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
<h2>HALLLØJJ</h2>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque nihil, sint ullam totam distinctio illum rerum sit asperiores, in assumenda reprehenderit, praesentium esse. Illo culpa earum alias blanditiis a?</p>
	</body>
</html>
